PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/foodshare
JWT_SECRET=your_jwt_secret_here

# Google OAuth Client IDs (replace with your actual client IDs from Google Cloud Console)
# Optional: multiple client IDs for Android/iOS/Web separated by comma -GOOGLE_CLIENT_IDS
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com

# SMTP configuration for sending emails (e.g., password reset)
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password
SMTP_FROM="FoodShare <no-reply@foodshare.com>"

# API KEY của Gemini
GEMINI_API_KEY=your_gemini_api_key_here

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
